In [1]:
import os
import pandas as pd
import numpy as np
import glob
from PIL import Image
import os.path

In [2]:
os.chdir('C:\\Nikita\\Dataset Clothing\\dataset')

In [3]:
data = pd.DataFrame()

data['Folder'] = True
data['Files'] = True

In [4]:
dirs = []
files = []
for dirpath, dirnames, filenames in os.walk('.'):
    for dirname in dirnames:
        if len(dirname) != 0:
            dirs.append(dirname)
    if len(filenames) > 1:
        files.append(len(filenames))
    #print(dirnames, len(filenames))
    #data.append({'Folder': dirnames, 'Files': len(filenames)}, ignore_index = True)

In [5]:
lines = zip(dirs, files)
for line in lines:
    print(line[0], line[1])
    data = data.append({'Folder': line[0], 'Files': line[1]}, ignore_index = True)

abrigos 5785
alpargatas 138
banadores 2675
bikinis 1609
bisuteria 3579
bodies 397
bolsos-y-mochilas 2606
botas 765
botines 240
braguitas 2113
bufandas 260
calcetines 1331
calzoncillos 746
camisas 4328
camisas-y-blusas 5649
camiseta-interior 24
camisetas 5762
camisones 130
cardigans 314
carteras 195
chanclas 122
cinturones 530
corbatas 320
faldas 2785
gafas 1102
gorras 260
gorros 307
guantes 113
jeans 4977
jerseys 2570
lenceria 679
medias 364
monos 1030
pantalones 5867
panuelos 98
paraguas 36
petos 11
pijamas 995
planos 109
polos 781
reloj 706
sandalias 970
shorts 3101
sombreros 78
sudaderas 5784
sujetadores 900
tacones 934
trajes 1776
vestidos 5824
zapatillas 3967
zapatos 1301

In [6]:
data

               Folder  Files
0             abrigos   5785
1          alpargatas    138
2           banadores   2675
3             bikinis   1609
4           bisuteria   3579
5              bodies    397
6   bolsos-y-mochilas   2606
7               botas    765
8             botines    240
9           braguitas   2113
10           bufandas    260
11         calcetines   1331
12       calzoncillos    746
13            camisas   4328
14   camisas-y-blusas   5649
15  camiseta-interior     24
16          camisetas   5762
17          camisones    130
18          cardigans    314
19           carteras    195
20           chanclas    122
21         cinturones    530
22           corbatas    320
23             faldas   2785
24              gafas   1102
25             gorras    260
26             gorros    307
27            guantes    113
28              jeans   4977
29            jerseys   2570
30           lenceria    679
31             medias    364
32              monos   1030
33         pantalones   5867
34           panuelos     98
35           paraguas     36
36              petos     11
37            pijamas    995
38             planos    109
39              polos    781
40              reloj    706
41          sandalias    970
42             shorts   3101
43          sombreros     78
44          sudaderas   5784
45        sujetadores    900
46            tacones    934
47             trajes   1776
48           vestidos   5824
49         zapatillas   3967
50            zapatos   1301

In [7]:
data.to_csv('C:\\Nikita\\Dataset Clothing\\clothing.csv')

In [8]:
import json

In [20]:
with open("C:\\Nikita\\Dataset Clothing\\annotations\\dataset_abrigos_63.json", "r") as read_file:
    jsfile = json.load(read_file)

In [21]:
len(jsfile['arr_boxes'])

2

In [23]:
from PIL import Image, ImageDraw

im = Image.open('C:\\Nikita\\Dataset Clothing\\dataset\\abrigos\\63.jpg')
draw = ImageDraw.Draw(im)

width0 = im.size[0]  # Определяем ширину
height0 = im.size[1]  # Определяем высоту
 
x0 = jsfile['arr_boxes'][0]['coor1'][0]*width0
y0 = jsfile['arr_boxes'][0]['coor1'][1]*height0
x1 = jsfile['arr_boxes'][0]['coor2'][0]*width0
y1 = jsfile['arr_boxes'][0]['coor2'][1]*height0

draw.rectangle((x0, y0, x1, y1), outline = (255, 0, 0), width = 6)

x = jsfile['arr_boxes'][0]['x']
y = jsfile['arr_boxes'][0]['y']

w = jsfile['arr_boxes'][0]['width']
h = jsfile['arr_boxes'][0]['height']

draw.rectangle((x, y, x+w, y+h), outline = (0, 255, 0), width = 2)
 
im.show()

In [18]:
x, y, width0, height0

(661.9892722964287, 2029.9738401174545, 1686, 2529)

In [19]:
jsfile['arr_boxes'][0]['width'], jsfile['arr_boxes'][0]['height']

(762.4206989407539, 499.02615988254547)

In [16]:
jsfile['arr_boxes'][0].keys()

dict_keys(['coor_center', 'coor1', 'coor2', 'x', 'y', 'width', 'height', 'gender', 'class'])

In [25]:
from translate import Translator

In [26]:
espeng = Translator(from_lang = "Spanish", to_lang = "English")
engesp = Translator(from_lang = "English", to_lang = "Spanish")

In [27]:
espeng.translate('camisones')

'Nightdresses'

In [28]:
engesp.translate('bracelet')

'brazalete'

In [25]:
im.size

(1686, 2529)

In [61]:
data2 = pd.DataFrame()

data2['File'] = True
data2['Path'] = True
data2['File size'] = True
data2['Pic dimensions'] = True

In [67]:
data2

,File,Path,File size,Pic dimensions
0,1.jpg,C:/Nikita/Dataset Clothing/Dataset\abrigos\1.jpg,226542,"(1686, 2529)"
1,100.jpg,C:/Nikita/Dataset Clothing/Dataset\abrigos\100...,77299,"(870, 1110)"
2,1000.jpg,C:/Nikita/Dataset Clothing/Dataset\abrigos\100...,12261,"(372, 372)"
3,1001.jpg,C:/Nikita/Dataset Clothing/Dataset\abrigos\100...,229238,"(980, 1306)"
4,1002.jpg,C:/Nikita/Dataset Clothing/Dataset\abrigos\100...,61894,"(600, 900)"
...,...,...,...,...
37077,995.jpg,C:/Nikita/Dataset Clothing/dataset2\banadores\...,62691,"(871, 1110)"
37078,996.jpg,C:/Nikita/Dataset Clothing/dataset2\banadores\...,70535,"(870, 1110)"
37079,997.jpg,C:/Nikita/Dataset Clothing/dataset2\banadores\...,75866,"(870, 1110)"
37080,998.jpg,C:/Nikita/Dataset Clothing/dataset2\banadores\...,70652,"(871, 1110)"
37081,999.jpg,C:/Nikita/Dataset Clothing/dataset2\banadores\...,54061,"(870, 1110)"

In [70]:
for entry in sorted(glob.glob('C:/Nikita/Dataset Clothing/dataset/**/*.jpg', recursive=True)):
    try:
        imsize = Image.open(entry).size
    except:
        imsize = np.nan
    data2 = data2.append({'File': entry[entry.rfind('\\')+1:], 'Path': entry, 'File size': os.path.getsize(entry), 'Pic dimensions': imsize}, ignore_index = True)
data2.sort_values(by='File size')

,File,Path,File size,Pic dimensions
65588,1608.jpg,C:/Nikita/Dataset Clothing/dataset\camisas\160...,0,NaN
83916,3574.jpg,C:/Nikita/Dataset Clothing/dataset\jeans\3574.jpg,0,NaN
65567,1587.jpg,C:/Nikita/Dataset Clothing/dataset\camisas\158...,0,NaN
73887,5310.jpg,C:/Nikita/Dataset Clothing/dataset\camisetas\5...,2697,"(222, 333)"
73310,4791.jpg,C:/Nikita/Dataset Clothing/dataset\camisetas\4...,2736,"(222, 333)"
...,...,...,...,...
20534,1397.jpg,C:/Nikita/Dataset Clothing/Dataset\calcetines\...,1046299,"(3200, 4480)"
21425,907.jpg,C:/Nikita/Dataset Clothing/Dataset\calcetines\...,1143013,"(3200, 4480)"
58507,907.jpg,C:/Nikita/Dataset Clothing/dataset\calcetines\...,1143013,"(3200, 4480)"
21405,884.jpg,C:/Nikita/Dataset Clothing/Dataset\calcetines\...,1151734,"(3200, 4480)"
58487,884.jpg,C:/Nikita/Dataset Clothing/dataset\calcetines\...,1151734,"(3200, 4480)"

In [75]:
data2.to_csv('C:/Nikita/Dataset Clothing/sizes_database.csv', header = True, index = True)