In [ ]:
# Здесь мы берём созданный ранее датафрейм, в который собраны по 100 наиболее квадратных боксов каждого класса, и собираем картинки, их представляющие, в отдельный датасет

In [35]:
import numpy as np
import pandas as pd
import json
import glob
import os.path
import http.client, urllib
from matplotlib import pyplot as plt
import time
from shutil import copyfile

In [21]:
box_sizes_100 = pd.read_csv('box_sizes_100.csv', header = 0, index_col = 0)

In [60]:
box_sizes_100.reset_index(inplace = True)

'dataset/banadores/'

In [62]:
box_sizes_100

,index,File,Path,Width,Height,Category,File exists,WH_diff
0,0,1957.jpg,dataset/camisas-y-blusas/1957.jpg,728.584410,728.583053,trousers,True,0.001357
1,1,4514.jpg,dataset/abrigos/4514.jpg,272.298638,272.295697,trousers,True,0.002941
2,2,1700.jpg,dataset/abrigos/1700.jpg,272.298638,272.295697,trousers,True,0.002941
3,3,374.jpg,dataset/zapatos/374.jpg,601.551297,601.558796,trousers,True,0.007499
4,4,430.jpg,dataset/sandalias/430.jpg,432.984265,433.030140,trousers,True,0.045875
...,...,...,...,...,...,...,...,...
2995,3074,2616.jpg,dataset/shorts/2616.jpg,560.010721,699.990188,jumpsuits,True,139.979467
2996,3075,487.jpg,dataset/monos/487.jpg,560.010721,699.990188,jumpsuits,True,139.979467
2997,3076,381.jpg,dataset/monos/381.jpg,553.883328,694.040844,jumpsuits,True,140.157517
2998,3077,2347.jpg,dataset/shorts/2347.jpg,553.883328,694.040844,jumpsuits,True,140.157517
2999,3078,310.jpg,dataset/monos/310.jpg,313.130016,453.558564,jumpsuits,True,140.428548

In [26]:
def safe_mkdir(folder):
    assert not os.path.exists(folder)
    try:
        os.mkdir(folder)
    except OSError:
        print ("Создать директорию %s не удалось" % folder)

In [36]:
folder = 'C:/Users/administrator/Documents/GitHub/Clothes-dataset/'
if not os.path.exists(folder + 'dataset'):
    safe_mkdir(folder + 'dataset')
if not os.path.exists(folder + 'annotations'):
    safe_mkdir(folder + 'annotations')

In [33]:
os.getcwd()

'C:\\Users\\administrator\\Documents\\GitHub\\Clothes-dataset'

In [65]:
img_source_folder = 'C:/Nikita/Dataset Clothing/'
json_source_folder = 'C:/Nikita/Dataset Clothing/annotations/'
img_dst_folder = 'C:/Users/administrator/Documents/GitHub/Clothes-dataset/'

for i in range(len(box_sizes_100)):
    class_folder = img_dst_folder + box_sizes_100.Path[i][:-len(box_sizes_100.File[i])]
    # print(class_folder)
    if not os.path.exists(class_folder):
        safe_mkdir(class_folder)
    
    src = img_source_folder + box_sizes_100.Path[i]
    if not os.path.exists(src):
        print(src, 'does not exist')
    dst = img_dst_folder + box_sizes_100.Path[i]
    if not os.path.exists(dst):
        copyfile(src, dst)
        
    json_filename = box_sizes_100.Path[i].replace('/', '_')[:-4] + '.json'
    src = json_source_folder + json_filename
    if not os.path.exists(src):
        print(src, 'does not exist')
    dst = img_dst_folder + 'annotations/' + json_filename
    if not os.path.exists(dst):
        copyfile(src, dst)

In [67]:
len(box_sizes_100['Path'].unique())

2863