In [1]:
# Здесь мы берём созданный ранее датафрейм с размерами боксов (бокс это рамка, обводящая искомый предмет на картинке), и в каждой категории выбираем первые сто наиболее квадратных боксов

In [2]:
import numpy as np
import pandas as pd
import json
import glob
import os.path
import http.client, urllib
from matplotlib import pyplot as plt
import time

In [3]:
# box_sizes = pd.read_csv('C:/Nikita/Dataset Clothing/box_sizes.csv', header = 0)
# box_sizes = box_sizes.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
box_sizes2 = pd.read_csv('box_sizes.csv', header = 0, index_col = 0)
box_sizes2.head(1)

    File                   Path       Width     Height  Category  File exists
0  1.jpg  dataset/abrigos/1.jpg  762.420699  499.02616  trousers         True

In [4]:
box_sizes.to_csv('box_sizes.csv', header = True, index = True)

NameError: name 'box_sizes' is not defined

In [5]:
box_sizes = pd.read_csv('box_sizes.csv', header = 0, index_col = 0)
box_sizes.head(1)

    File                   Path       Width     Height  Category  File exists
0  1.jpg  dataset/abrigos/1.jpg  762.420699  499.02616  trousers         True

In [25]:
box_sizes['WH_diff'] = abs(box_sizes['Width'] - box_sizes['Height'])

In [28]:
box_sizes.drop('WH_ratio', axis = 1, inplace = True)
box_sizes.head(1)

,File,Path,Width,Height,Category,File exists,WH_diff
0,1.jpg,dataset/abrigos/1.jpg,762.420699,499.02616,trousers,True,263.394539

In [57]:
# box_sizes_100 = pd.DataFrame(columns = box_sizes.columns[:-1])
box_sizes_100 = pd.DataFrame(columns = box_sizes.columns)
box_sizes_100.head()

Empty DataFrame
Columns: [File, Path, Width, Height, Category, File exists, WH_diff]
Index: []

In [29]:
box_sizes.head(1)

,File,Path,Width,Height,Category,File exists,WH_diff
0,1.jpg,dataset/abrigos/1.jpg,762.420699,499.02616,trousers,True,263.394539

In [36]:
# category = 'trousers'
# # box_sizes_100[category] = box_sizes[box_sizes['Category'] == category].sort_values(by = 'WH_diff')[:100]
# box_sizes_100 = pd.concat([box_sizes_100, box_sizes[box_sizes['Category'] == category].sort_values(by = 'WH_diff')[:100]], ignore_index=True)
# box_sizes_100

,File,Path,Width,Height,Category,File exists,WH_diff
0,1957.jpg,dataset/camisas-y-blusas/1957.jpg,728.584410,728.583053,trousers,True,0.001357
1,4514.jpg,dataset/abrigos/4514.jpg,272.298638,272.295697,trousers,True,0.002941
2,1700.jpg,dataset/abrigos/1700.jpg,272.298638,272.295697,trousers,True,0.002941
3,374.jpg,dataset/zapatos/374.jpg,601.551297,601.558796,trousers,True,0.007499
4,430.jpg,dataset/sandalias/430.jpg,432.984265,433.030140,trousers,True,0.045875
...,...,...,...,...,...,...,...
95,1990.jpg,dataset/zapatillas/1990.jpg,598.183234,596.512056,trousers,True,1.671178
96,140.jpg,dataset/cardigans/140.jpg,456.042099,457.754481,trousers,True,1.712381
97,953.jpg,dataset/trajes/953.jpg,326.294467,328.016557,trousers,True,1.722090
98,2336.jpg,dataset/jerseys/2336.jpg,378.694238,380.431740,trousers,True,1.737502
99,2115.jpg,dataset/zapatillas/2115.jpg,671.199237,669.405606,trousers,True,1.793631

In [58]:
categories = box_sizes['Category'].unique()
for category in categories:
    box_sizes_100 = pd.concat([box_sizes_100, box_sizes[box_sizes['Category'] == category].sort_values(by = 'WH_diff')[:100]], ignore_index=True)
box_sizes_100.head(3)

,File,Path,Width,Height,Category,File exists,WH_diff
0,1957.jpg,dataset/camisas-y-blusas/1957.jpg,728.584410,728.583053,trousers,True,0.001357
1,4514.jpg,dataset/abrigos/4514.jpg,272.298638,272.295697,trousers,True,0.002941
2,1700.jpg,dataset/abrigos/1700.jpg,272.298638,272.295697,trousers,True,0.002941

In [59]:
len(box_sizes_100.Category.unique())

35

In [60]:
less_than_100_categories = {}
for category in categories:
    category_len = box_sizes_100[box_sizes_100['Category'] == category].shape[0]
    if category_len < 100:
        less_than_100_categories[category] = category_len
len(less_than_100_categories.keys())

5

In [61]:
categories_100 = {}
categories_lengths = {}
for category in categories:
    category_len = box_sizes_100[box_sizes_100['Category'] == category].shape[0]
    categories_lengths[category] = category_len
    if category_len == 100:
        categories_100[category] = category_len

In [66]:
box_sizes_100.to_csv('box_sizes_limited_by_100.csv', header = True, index = True) # В этом датасете все классы, в том числе те, в которых меньше 100 объектов

In [84]:
box_sizes_100 = box_sizes_100[~box_sizes_100.Category.isin(less_than_100_categories.keys())].reset_index() # В этом датасете все классы, в которых было не менее 100 объектов, и мы остаавили только 100 объектов с наиболее квадратными боксами
box_sizes_100.to_csv('box_sizes_100.csv', header = True, index = True)